@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,800;1,500;1,600;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Montserrat', sans-serif;
    overflow-x: hidden;
}
.box{
  margin-top: 60px;
}
.box h1{
    align-items: center;
    display: flex;
    justify-content: center;
}

.form-group{
  display: flex;
    margin: 5px 10px;
    width: j;
}
#search{
  border: 1px solid #555;
  border-radius: 5px;
  height: 25px;
  width: 98.5vw;
  align-items: center;
  padding: 5px;
}
.btn{
  color: #fff;
  background-color: red;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  padding: 5px;
}

.row{
  width: 98.5vw;
  margin: 5px 10px;
}
.col-md-12{
  justify-content: space-around;
}
.videos{
  width: 98.5vw;
}

.categories{
    display: flex;
    width:100%;
    justify-content: space-around;
}
.cat button{
    width: 250px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: rgb(230, 230, 230);
    transition: all 0.2s ease 0s;
}
.cat button:hover{
    background-color: rgb(220, 220, 220);
}

.library button{
    width: 250px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #ff9e5e;
    transition: all 0.2s ease 0s;
}
.library button:hover{
    color: #ff9e5e;
    background-color: #000;
    filter: drop-shadow(0 0 15px #ff9e5e);
}