*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

li, button{
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.nav{
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px, 10%;
    color: #b5ccff;
}

.logo{
    max-width: 40px;
    cursor: pointer;
    margin: 0 10px;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #ff9e5e;
}

.cta button{
    text-emphasis-color: #edf0f1;
    padding: 9px 25px;
    background-color: rgba(0,181,226,1);
    border-radius: 30px;
    border: none;
    margin-right: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-right: 10px;
}

.cta button:hover{
    background-color: rgba(0, 181, 226, 0.8);
}

.categories{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.cat button{
    width: 250px;
    padding: 5px;
    border:none;
    border-radius: 4px;
    background-color: rgb(230, 230, 230);
    transition: all 0.2s ease 0s;
}
.cat button:hover{
    background-color: rgb(220, 220, 220);
}

/* .library button{
    width: 250px;
    padding: 5px;
    border:none;
    border-radius: 4px;
    background-color: rgb;
    transition: all 0.2s ease 0s;
}
.library button:hover{
    background-color: rgb(220, 220, 220);
} */

.fav-channels{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    justify-content: space-around;
    padding: 20px;
}
.fav-channels a{
    width: 90%;
    height: 100px;
    margin: 20px 20px;
    text-decoration: none;
}

.channels{
    width: 100%;
    height: 100px;
    cursor: pointer;
    vertical-align: middle;
    padding-top: 40px;
    /* background: #ff9e5e; */
    border: none;
    border-radius: 5px;
    display: flex;
}
.channels h3{
    width: 50%;
    margin-right: 0;
}
.chnl-logo {
    width: 50%;
    margin-top: -18px;
    /* color: #424372; */
    /* mask: calc(40); */
}
.chnl-logo img{
    padding: -20px;
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 100%;
}
