*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}

.banner{
    margin-top: 55px;
}

.categories{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.cat button{
    width: 250px;
    padding: 5px;
    border:none;
    border-radius: 4px;
    background-color: rgb(230, 230, 230);
    transition: all 0.2s ease 0s;
}
.cat button:hover{
    background-color: rgb(220, 220, 220);
}

.banner{
    width: 100%;
}
.banner img{
    width: 100%;
    margin-right: 0px;
}

.tab{
    margin: 5px;
    margin-bottom: 20px;
}

.list-val{
    display: flex;
}

iframe{
    margin: 5px;
    filter: drop-shadow(0px 0px 10px #555);
    border: none;
    border-radius: 7px;
}

.playlist-title{
    margin-left: 5px;
    margin-bottom: 10px;
}
#tikero{
    margin: 10px;
}